.display 
{
  text-decoration: none;
  display: inline-block;  
}
@mixin padding($position,$unit)
{
    padding-#{$position} : $unit + px;  
}

* { 
  box-sizing: border-box;
}

input[type="text"],
select                                                                                          
{
  width: 100%;
  padding: 12px 20px;
  margin: 12px 0;  
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  @extend .display;
}

.container 
{
   @include padding(left,200);
   @include padding(right,200);
  
}

.button {
  background-color: green;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  @extend .display;

}
